<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form id="form" action="">
        <input type="password" name="password" id=""><input type="password" name="confirmPassword" id="">
        <input type="button" value="cahnge">
    </form>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
<script>
const form=document.getElementById("form").addEventListener("submit",post)
async function post(e){
    e.preventDefault()
    try {
        const data={
            password:e.target.password.value,
            confirmPassword:e.target.confirmPassword.value
        }
        const response=await axios.post("http://localhost:8080/resetpassword/:id/:token",data)
        
    } catch (error) {
        
    }

}

</script>
</html>