<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Expense Tracker</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Aoboshi+One&family=Borel&family=EB+Garamond&family=Great+Vibes&family=Lumanosimo&family=Noto+Serif+Bengali:wght@900&family=Nova+Square&family=Pacifico&family=Raleway:wght@800&family=Righteous&family=Satisfy&display=swap" rel="stylesheet">
</head>

<body>

    <!-- Navigation -->
    <nav>
        <div><a href="/">Expense Buddy</a></div>
        <div>
            <a href="#">About Us</a>
        <a href="/signup">Sign Up</a>
        <a href="/login">Login</a>
       
    </div>
    </nav>

    <!-- Hero Section -->
    <div class="hero">
        <h1><span>Expense Buddy</span></h1>
        <h1>Manage Your Expenses with Ease</h1>
        <p>Track your spending, budget wisely, and achieve financial freedom.</p>
        <button><a id="signuptext" href="/signup">Sign Up Here </a></button>
    </div>






   


    <!-- Footer -->
    <footer>
        <a href="https://www.facebook.com/profile.php?id=100005310649185">Facebook</a>
        <a href="https://www.instagram.com/af_souvik/">Instagram</a>
        <p>&copy; 2023 Your Expense Tracker. All rights reserved.</p>
    </footer>

</body>

</html>
