<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="shortcut icon" href="/css/img/favicon.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Aoboshi+One&family=Borel&family=EB+Garamond&family=Great+Vibes&family=Kaushan+Script&family=Lumanosimo&family=Merienda:wght@300&family=Noto+Serif+Bengali:wght@900&family=Nova+Square&family=Pacifico&family=Raleway:wght@800&family=Righteous&family=Satisfy&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/home.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.6.0/fonts/remixicon.css" rel="stylesheet">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Aoboshi+One&family=Borel&family=EB+Garamond&family=Great+Vibes&family=Kaushan+Script&family=Lumanosimo&family=Noto+Serif+Bengali:wght@900&family=Nova+Square&family=Pacifico&family=Raleway:wght@800&family=Righteous&family=Satisfy&display=swap" rel="stylesheet">
</head>
<body>

    <div class="main">
        <nav>
            <div class="logo">
                <a href="" class="logo">  Expense Buddy.</a>
            </div>
            <div class="option">
                <a href="#" class="about">About</a>
                <a href="/signup" class="signup">
                    Sign Up
                </a>
                <a href="/login" class="signin">Sign in</a>
               
                
            </div>
            <i class="ri-menu-3-fill" id="toggle"></i>
        </nav>
  
<div class="hero">
    <div class="left">
        <h1>
            <span>Unlock</span>  financial freedom 
           <span>Track</span>  every penny
           plan every <span>dream</span><span>.</span><span>.</span><span>.</span>
        </h1>
        <h3>
            Empower your finances, track every expense effortlessly. Take charge with our Expense Tracker app.
        </h3>
        <button>
            <a href="/signup">Sign up<span>→</span></a>
        </button>
    </div>
    
    <div class="right">
        <img src="/css/img/2760426.jpg" alt="">
        

        
    </div>
</div>







    </div>
    
<script src="js/home.js"></script>
</body>



</html>