<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Report</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
    <h1>Expense Report</h1>
    <label for="year">Enter Year:</label>
    <input type="text" id="year" placeholder="Enter year">
    <button onclick="getExpenseReport()">Get Report</button>
    <div id="reportResult"></div>

    <script src="/js/dashboard.js"></script>

</body>

</html>
