*{
    margin :0;
    padding: 0;

 
}
.main {
    width:100%;
    height: 100vh;
  
}
.main nav{
    width: 100%;
    height: 10vh;
   
  
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
}
.main nav h1{
    width: 20vw;
    color: blue;

    text-align: center;
   padding: 3.6vh;
}
.main nav .option {
   display: flex;
   width: 100%;
   justify-content: space-between;
 
}
.main nav .option  .left ul{
    display: flex;
    align-items: center;
    justify-content: center;
  justify-content: space-around;
    width: 31vw;
    height: 10vh;
    list-style:none ;
    text-decoration: none;
   
}
.main nav .option  .left ul li{
 
    padding:1vh;
   
}
.left ul li a, .right ul li a{
    text-decoration: none;
}

.right ul{
    display: flex;
    align-items: center;
    justify-content: center;
  justify-content:end;
    width: 31vw;
    height: 10vh;
    list-style:none ;
    gap:2vw;
    margin-right: 3vw;
    list-style: none;
   
}
.right ul li{  
   transform: none;
    padding:1vh;
}
.main .addExpenseForm{
    display: flex;
    
    width: 100%;
    height: 50vh;
   
    text-align: center;
}
.main .addExpenseForm .img,.img2{
   
    width: 33.3%;
    height: 100%;
}
.main .addExpenseForm .form{
    display: flex;
    flex-direction: column;
    width: 33.3%;
}
.main .addExpenseForm .form form {
    width: 90%;
    margin: 1vw 1.5vw;
    gap:10px;
  
   
}
 .form input {
    
   height: 3vh;
   margin-bottom: 10px;
}
.form button{
    
    width: 7vw;
    height: 5vh;
    margin-left: 12vw;
    background-color: blue;
    color: white;
    border-radius: 5%;
}
.form button:hover{
    background-color: rgba(0, 0, 255, 0.568);
}
.form  input,option{
    text-align: center;
    color: blue;
}
.form #options{
    height: 3vh;
    color: blue;

}
.form h1{
    color: blue;
}
.addExpenseForm {
    overflow: hidden;
}
.addExpenseForm .img2 img{
    
    width: 100%;
    height: 100%;
}
.addExpenseForm .img img{
    width: 100%;
    height: 100%;

}
.addExpenseForm .form{
    
    color: blue;
    background: transparent;
}


.styled-table  h2{
    text-align: center;
    margin-bottom: 2vh;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    
    
   background: #ffffffd5;
   border: 1px solid black;
   
    
   margin: 0 14%;
   margin-top: 11vh;
   padding-bottom:2vh ;
}
.styled-table table{
    margin:0 15%;
}

.styled-table thead tr {
    background-color: blue;
    color: #ffffff;
    text-align: left;

    
   
}
.styled-table th,
.styled-table td {
    padding: 1px 67px;
    white-space: nowrap;
    
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
.right ul li button{
    background-color: #ffffff;
    border: none;
}