*{
    margin:0;
    padding:0;

}
body{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.header{
    display: none;
}
nav{
    display:flex;
    text-align: center;
    height: 9vh;
    background-color: #fafafa8c;
    
    transition: 0.6s  all ease;

}
nav .log{
    width:15vw;
  color: #0202f5;
   height: 100%;
   margin-top: 1vw;
   font-family: 'Merienda', cursive;
 
}
.nav .middle,.nav .right{

    width:30vw;


}

.nav .middle ul,.nav .right ul{
    display:flex;
    align-items: center;

    justify-content: center;

justify-content: space-around;
    height: 100%;
}
.nav .middle ul li ,.nav .right ul li{

    list-style: none;
  
}
.nav .middle ul li a,.nav .right ul li a{
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
}

.nav .right{
  
    margin-left:auto !important;

}



.navbtn{
  background: #0202f5;
  border-radius: 999px;
  box-shadow: #11119f 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 0.7rem;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}


.nav .right ul li #logout{
    width: 10vh ;
    height: 5vh;
    text-align: center;
    background-color: darkblue;
}

.navbtn:hover{
    background-color: #FFFFFF;
    color: #0202f5;
}
.ac{
    background-color: white;
    border: 1px solid #11119f;
    color: #0202f5;
}
.ac:hover{
    background-color:#11119f ;
    
    color: white;
}
.nav .right ul li #logout:hover{
    background-color: #FFFFFF;
    color: #0202f5;
}
#toggle{
    display: none;
}

.hero{
    background: url("./img/full.png");
    background-position: bottom right;
    background-repeat: no-repeat;
   
   
}
.hero .addExpenseForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.hero .addExpenseForm #form1{
   
    margin-top: 3vh;
    padding: 6vh;
    background: rgba( 255, 255, 255, 0 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7px );
    -webkit-backdrop-filter: blur( 7px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.hero .addExpenseForm #form1 h1{
    margin-bottom: 2vh;
    text-transform:uppercase;
background-color: #0606d0f2;
box-shadow: 2px 2px 5px black;
border-radius: 3px;
color: #FFFFFF;
padding:12px;
font-size: 20px;

  
}
.hero .addExpenseForm #form1 form{
    display:flex;
    flex-direction: column;
    text-align: center;
    margin-top: 2vh;
}
.hero .addExpenseForm #form1 form label{
    margin-bottom: 1vh;
    margin-top: 1vh;
}
#button{
    
    margin: auto;
    margin-top: 2vh;
    background-color: #0202f5;
    color: #FFFFFF;
    font-size: 1.4vh;
    padding: 5px;
    border-radius: 5px;
}
#button:hover{
    background-color: #FFFFFF;
    color: #0202f5;
}
option,label,select,input{
    text-align: center;
    color: #0202f5;
}
.styled-table{
   
    text-align: center;
    color: #FFFFFF;
    margin-top: 2vh;

}
.styled-table h2{
    color:#f7f7fb;
    background-color: #0202f5;
    box-shadow: 2px 2px 2px  black;
    font-family: 'Merienda', cursive;
    height: 5vh;
    
    
}
.styled-table table{
    background-color: red;
    margin: auto;
    margin-top: 2vh;
    width: 90vw;
    padding: 3vh;
    background: rgba( 255, 255, 255, 0 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7px );
    -webkit-backdrop-filter: blur( 7px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    color: #0202f5;
  
}
.styled-table table thead tr th,.styled-table table tbody tr td{
    background-color: #0707b7bb;
    color: #fafafa;
    border-radius: 2vw;
   

}
.styled-table table thead tr th{
    background-color: #FE918D;
    color: #010000;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.473);
    margin-bottom: 20px;
}

.styled-table table tbody tr td button {
    background-color: #FE918D;
    width: 3vh;
    border-radius: 70%;
    border: none !important;
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
}
#total{
    background-color: #0202f5;
    color: #fafafa;
    text-transform: uppercase;
    padding: 2vh;
    text-align: center;
}
.pagination-container{
  
    text-align: center;
    padding: 1vh;
   
}
.pagination-container h4{
    font-family: 'Merienda', cursive;
    
    font-size: small;
    padding-bottom: 2vh;

}
.pagination-container #pagination{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
   
}

.pagination-container #pagination a{
    background-color: #2601f7;
    padding: 0.5vh;
    border-radius: 10px 0 5px 1px;
    margin-left: 1vw;
    color: #FFFFFF;
}
.pagination-container #pagination a:hover{
    background-color: #FFFFFF;
    border: 2px solid blue;
    color: blue;
}
#leaderboard1{
    display: none;
}
#ld{
    width: 50%;
   
}


@media screen and (max-width: 600px) {
    .nav{
    
     height: 30vh;
     flex-direction: column;
    background: url("./img/left.jpg");
   padding: 10px 0 0 10px;
   transition: all ease 0.9s;
 display: none;
 
    }
    
     .nav h1{
         display: none;
     }
     .nav .middle ,.nav .right{
        
         margin: auto;
        
       
     }
     .nav .middle ul,.nav .right ul{
         margin-top: 20px !important;
         flex-direction: column;
         gap:20px;
        
     }
     
     
     #toggle{
         display: block;
         position: absolute;
         top:20px;
         font-size: 30px;
         right:20px;
         color: #0202f5;
 
     }
 
     .header{
         display: block;
         margin:20px 0 0 20px;
         font-size: 20px;
         font-family: 'Merienda', cursive;
         margin-bottom: 1.2vh;
         color: #0202f5;
        
     }
     .header i{
         background-color: #0202f5;
         color: #fafafa;
         font-weight: 100;
     }
     .hero{
        
         background-image: url("./img/right2.jpg");
         background-size: cover;
         background-position: center left ;
     }
     #form1{
         text-align: center;
     }
     #form1 form{
         width:250px;
     }
     .styled-table{
         overflow: scroll;
 
     }
     .styled-table h2,.styled-table table{
         width: 600px;
     }
    
 .active{
     display:block;
     
    
 }
 #totalrs{
    background: #0202f5;
 }
 #ld{
    width: 100%;
   
}
#sapn{
    color:black
}

 }