*{
    margin: 0;
    padding: 0;
    color: black;
    
overflow-x: hidden;
 
}
.main{
    width:100%;
    height:100vh;

    
}
nav{
    display:flex;
  
    justify-content: space-between;
    height: 10vh;
    align-items: center;
   
    

}
.logo,.option a{
    text-decoration: none;
    margin: 0 1vw;
    
}
 i{
    display: none ;
}
.logo{
font-size: 30px;
font-weight: 900;
color: #0202f5;
}
.option{
    display: flex;
    gap: 10px;
 
    padding: 1vw;
    font-weight: 600;
   
}
.logo span{
    color: rgb(12, 0, 0);
}
.main .hero{
    width: 100%;
    height: calc(100% - 10vh);

    display: flex;
}
.main .hero .left{
    width:40%;
    height: 100%;
  
    padding: 0 2vw ;
   
}
.main .hero .right{
    width:60%;
    height: 100%;
  
}
.main .hero .left h1,h3,button{
    margin-left:3vw;
    padding:0 3vw;}
.main .hero .left h1{
    font-size: 3.8vw;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   
}
.main .hero .left h1{
    margin-top: 4vh;
}
.main .hero .left h1 span{
    color: #0202f5;}

    .main .hero .left h3{
        font-size: 1vw;
        margin: 1vw;
        font-size: 1vw;
        margin-left: 3.4vw;
        font-weight: 100;
    }
    .main .hero .left button{
        margin-right: 10px;
        
        color: aliceblue;
        padding: .1vw;
        margin: 2vw 6.3vw;
        width: 10rem;
        height: 3.5vw;
        text-align: center;
        border-radius: 3vh ; 
        background-color: #0202f5;
    }
    .main .hero .left button a{
        text-decoration: none;
        color:#ffffff;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        border:2 px solid #0202f5 ;
       
        font-size: large;

    }
    .main .hero .left button a span{
        color: #ffffff;
        align-items: center;
        text-align: center;
        padding: 2px;
    }

    .right{
        overflow: hidden;
        position: relative;
    }
    .right img{
        width: 100%;
        margin-top: -9vh;
        background-size: cover;

    }

    /* hover */
    .main .hero .left button:hover {
        background-color: #ffffff;
        color: #0202f5;
    }
    .main .hero .left button:hover a, a span{
        color:#0202f5;
    }
    .option a:hover{
        background-color: #0202f5;
        color: #ffffff;

    }

    
    

    @media only screen and (max-width: 600px){
       
     
        .option{
            background-color: #0202f5;
            flex-direction: column;position: absolute;
            width: 100%;
            height: 30vh;
           top:0px;
           z-index: 9;
           align-items: center;
           justify-content: space-around;
           
           background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 16.5px );
-webkit-backdrop-filter: blur( 16.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
border-radius: 20px;
border-bottom:8px solid blue ;

           display: none;
           transition: 2s ease all;
          
          
        }
        .blurbody{
            background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 16.5px );
-webkit-backdrop-filter: blur( 16.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );


        }
        .option a{
            align-items: center;
            color:#0202f5;
           
            flex-direction: column;
            position: relative;
            display: flex;
            flex-direction: column;
            margin: 40px;
      
        

        }
        .option a:hover {
            background-color: #0735ee;
            color: #ffffff;
        }
       .active{
            

        transition: all ease 1s;
            display: block;
        }



        i{
        display: inline;
        margin-right:5vw ;
        z-index: 100;
       }
       .logo a{
        font-size: 5vw;
        margin-left: 3vw;
       }
       .hero{
       
        flex-direction: column;
       }
      .main .hero .left  {
        width: 100%;
        overflow: hidden;
        height: 120vh;
       

       }
       .main .hero .left h1{
        font-size: 5vh;
       }
       .main .hero .left h3{
        font-size: 2.6vw;
        margin-bottom: 2vh;
        
       }
       .main .hero .left button{
        height: 4vh;
       }
       .main .hero .right{
        width: 100%;
        overflow: hidden;
       
       }

       .right img{
        margin-top:5px;
        padding: 0%;
       }
       
    }

/* animation  */
@keyframes changeColor1 {
    0%,40%,100% {
        transform: translateY(0)
      }
      20% {
        transform: translateY(-10px)
      }
}



@keyframes changeColor4 {
    0%,40%,100% {
        transform: translateY(0)
      }
      20% {
        transform: translateY(-10px)
      }
   
}

/* Apply animation to each span individually */
h1 span:nth-child(1) {
    display: inline-block;
    animation: changeColor1 5s infinite;
}

h1 span:nth-child(2) {
    display: inline-block;
    animation: changeColor1 5s infinite ;
    animation-delay: 1.5s;
    
}

h1 span:nth-child(3) {
    display: inline-block;
    animation: changeColor1 5s infinite;
    animation-delay: 2.5s;
}

h1 span:nth-child(4) {
    display: inline-block;
    animation: changeColor4 2s infinite;
    animation-delay: 1s;
}
h1 span:nth-child(5) {
    display: inline-block;
    animation: changeColor4 2s infinite;
    animation-delay: 1.5s;
}
h1 span:nth-child(6) {
    display: inline-block;
    animation: changeColor4 2s infinite;
    animation-delay: 2s;
}






    @media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
   
    .logo a{
        font-size: 5vw;
        margin-left: 3vw;
       }
       .hero{
       
        flex-direction: column;
       }
      .main .hero .left  {
        width: 100%;
        overflow: hidden;
        height: 120vh;
       

       }
       .main .hero .left h1{
        font-size: 5vh;
       }
       .main .hero .left h3{
        font-size: 2.6vw;
        margin-bottom: 2vh;
        
       }
       .main .hero .left button{
        height: 4vh;
       }
       .main .hero .right{
        width: 100%;
        overflow: hidden;
       }

  /* Styles */
}
