*{
    margin: 0;
    padding: 0;
    color: black;
    
overflow-x: hidden;
 
}
.main{
    width:100%;
    height:100vh;

    
}
nav{
    display:flex;
  
    justify-content: space-between;
    height: 10vh;
    align-items: center;
   
    

}
.logo,.option a{
    text-decoration: none;
    margin: 0 1vw;
    
}
.option i{
    display: none ;
}
.logo{
font-size: 30px;
font-weight: 900;
color: #006EE9;
}
.option{
    display: flex;
    gap: 10px;
 
    padding: 1vw;
    font-weight: 600;
   
}
.logo span{
    color: rgb(12, 0, 0);
}
.main .hero{
    width: 100%;
    height: calc(100% - 10vh);

    display: flex;
}
.main .hero .left{
    width:40%;
    height: 100%;
  
    padding: 0 2vw ;
   
}
.main .hero .right{
    width:60%;
    height: 100%;
  
}
.main .hero .left h1,h3,button{
    margin-left:3vw;
    padding:0 3vw;}
.main .hero .left h1{
    font-size: 3.8vw;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   
}
.main .hero .left h1{
    margin-top: 4vh;
}
.main .hero .left h1 span{
    color: #006EE9;}

    .main .hero .left h3{
        font-size: 1vw;
        margin: 1vw;
        font-size: 1vw;
        margin-left: 3.4vw;
        font-weight: 100;
    }
    .main .hero .left button{
        margin-right: 10px;
        
        color: aliceblue;
        padding: .1vw;
        margin: 2vw 6.3vw;
        width: 10rem;
        height: 3.5vw;
        text-align: center;
        border-radius: 3vh ; 
        background-color: #006EE9;
    }
    .main .hero .left button a{
        text-decoration: none;
        color:#ffffff;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        border:2 px solid #006EE9 ;
       
        font-size: large;

    }
    .main .hero .left button a span{
        color: #ffffff;
        align-items: center;
        text-align: center;
        padding: 2px;
    }

    .right{
        overflow: hidden;
        position: relative;
    }
    .right img{
        width: 100%;
        margin-top: -9vh;
        background-size: cover;

    }

    /* hover */
    .main .hero .left button:hover {
        background-color: #ffffff;
        color: #006EE9;
    }
    .main .hero .left button:hover a, a span{
        color:#006EE9;
    }
    .option a:hover{
        background-color: #006EE9;
        color: #ffffff;

    }

    @media only screen and (max-width: 600px){
       .option a{
        display: none;
       }
       .option i{
        display: inline;
        margin-right:5vw ;
       }
       .logo a{
        font-size: 5vw;
        margin-left: 3vw;
       }
       .hero{
       
        flex-direction: column;
       }
      .main .hero .left  {
        width: 100%;
        overflow: hidden;
       

       }
       .main .hero .left h1{
        font-size: 5vh;
       }
       .main .hero .left h3{
        font-size: 2.6vw;
        margin-bottom: 2vh;
        
       }
       .main .hero .left button{
        height: 4vh;
       }
       .main .hero .right{
        width: 100%;
        overflow: hidden;
       }
    }
    @media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
   
    .logo a{
        font-size: 5vw;
        margin-left: 3vw;
       }
       .hero{
       
        flex-direction: column;
       }
      .main .hero .left  {
        width: 100%;
        overflow: hidden;
       

       }
       .main .hero .left h1{
        font-size: 5vh;
       }
       .main .hero .left h3{
        font-size: 2.6vw;
        margin-bottom: 2vh;
        
       }
       .main .hero .left button{
        height: 4vh;
       }
       .main .hero .right{
        width: 100%;
        overflow: hidden;
       }

  /* Styles */
}
